* {
    margin: 0;
    padding: 0;
}


header {
    background: rgba(229, 84, 115, 0.10);
}

.head {
    display: flex;
    justify-content: space-around;

}

.red-rose {
    height: 600px;
}

#red-rose-container {
    position: relative;
    top: 3px;
}

.head-caption {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 197px;
    margin-left: 100px;
}

.since {
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 32px;
}

#shop-now {
    margin-left: 100px;
    margin-top: 32px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.features {
    margin-top: 178px;
}

#f-caption {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

#f-sub {
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 24px;
}

.d-container {
    margin-top: 48px;
    display: flex;
    margin-left: 290px;
    gap: 24px;
}

#f1 {
    height: 300px;
    padding: 38px;
}

#f2 {
    height: 300px;
    padding: 19px;
}

#f3 {
    height: 300px;
    padding: 38px;
    margin-left: 15px;
}

.d-1 {
    background: rgba(167, 33, 98, 0.15);
    height: 338px;
    border-top-right-radius: 180px;
    border-top-left-radius: 180px;
    width: 300px;
}

.d-2 {
    background: rgba(5, 151, 160, 0.15);
    height: 338px;
    border-top-right-radius: 180px;
    border-top-left-radius: 180px;
    width: 300px;
}

.d-3 {
    background: rgba(71, 125, 17, 0.15);
    height: 338px;
    border-top-right-radius: 180px;
    border-top-left-radius: 180px;
    width: 300px;
}

.subline-1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.subline-2 {
    text-align: center;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.subline-3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.support {
    background: rgba(39, 39, 39, 0.05);
    height: 220px;
    margin-top: 200px;
    width: 950px;
    margin-left: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#support-sublines {
    margin-left: 330px;
    display: flex;
    gap: 108px;
    position: relative;
    bottom: 50px;
}

.s-sub {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.80);
}

.hot-sale {
    margin-top: 128px;
    height: 480px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deal {
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #E55473;
}

.d-sub {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.60);
}

#sign-up {
    position: relative;
    left: 450px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 140px;
}

#insta {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#insta-sub {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 24px;
    font-weight: 400;
}

.insta-flowers {
    display: flex;
    margin-top: 48px;
    gap: 24px;
    justify-content: center;
}

.box-flowers {
    height: 300px;
}

#input {
    position: relative;
    bottom: 150px;
    left: 430px;
    height: 44px;
    z-index: 1;
    width: 450px;
    padding-left: 10px;
    border: 0;
}

#input-bg {
    margin-left: 200px;
    width: 1110px;
    margin-top: 128px;
}

#btn {
    position: relative;
    bottom: 150px;
    left: 450px;
    width: 120px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    border: 0;
}

#last-caption {
    text-align: center;
    position: relative;
    top: 290px;
    font-family: Arial, Helvetica, sans-serif;
}

#last-caption>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
}

#last-caption>p{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 16px;
}

footer{
   background: #111010;
   height: 350px;
   margin-top: 130px;
   text-align: center;
}

#footer-caption{
    padding-top: 130px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

#footer-caption>h1{
    font-weight: 800;
}

#fs{
    color: #E55473;
}

#fs>span{
    color: #FFF;
}

#footer-caption>p{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.90);
}

footer>p{
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.40);
}